.received-bubble {
  align-self: flex-start;
  background: #000000;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  max-width: 70%;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.received-time {
  font-size: 11px;
  color: #bbb;
  margin-top: 4px;
  text-align: left;
}
